/* CSS DOCUMENT */
@charset "UTF-8";

/* Configuraciones Generales */

@font-face {
    font-family: "ChivoBlack";
    src: url("fonts/Chivo-VariableFont_wght.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "ChivoSemiItalic";
    src: url("fonts/Chivo-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaBoldItalic";
    src: url("fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "AlegreyaItalic";
    src: url("fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

* {
    font-family: "AlegreyaRegular", sans-serif;
    color: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Acá Empiezan Las Aplicaciones */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: rgb(168, 3, 3);
    border: 1vh solid rgb(168, 3, 3);
    justify-content: space-around;
}

.foto {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    background-color: rgb(233 216 195);
    height: 20vh;
    padding: 7px;
    column-gap: 4vh;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

h1,
h2 {
    text-align: left;
    background-color: rgb(233 216 195);
}

h1 {
    font-family: "ChivoBlack", sans-serif;
    color: rgb(168, 3, 3);
    font-size: 3rem;
    line-height: 4rem;
}

h2 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(102, 71, 71);
    font-size: 1.5rem;
    line-height: 1.3rem;
}

h3 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(168, 3, 3);
    font-size: 1.2rem;
    line-height: 1rem;
    margin: 0rem 0.5rem 0.3rem 2.9rem;
}

h4 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(102, 71, 71);
    font-size: 1rem;
    line-height: 0.9rem;
    margin: 0rem 0rem 0.2rem 1.9rem;
}

ul {
    text-align: left;
    list-style-type: disc;
    line-height: 1.2rem;
    margin: 0rem 1rem 1rem 1rem;
}

p {
    text-align: left;
    line-height: 1.2rem;
}

.desc {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    text-wrap-style: balance;
    background-color: rgb(244, 235, 223);
    min-height: 9vh;
    padding: 1vh;
}

.info {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(244, 235, 223);
    min-height: 17vh;
    flex-wrap: wrap;
}

.fechas,
.sub-exp {
    text-align: left;
    line-height: 1.2rem;
    margin: 0rem 0rem 0.9rem 1.9rem;
}

.fechas {
    font-family: "AlegreyaItalic", sans-serif;
}

.exp {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgb(244, 235, 223);
    min-height: 50vh;
    align-content: center;
    align-items: flex-start;
    justify-content: flex-start;
}

a,
footer,
.footer,
.footer-text {
    color: rgb(244, 235, 223);
    line-height: 1.3rem;
    text-align: center;
    background-color: rgb(168, 3, 3);
}

footer {
    border: 2vh solid rgb(168, 3, 3);
    
}

.footer, .footer-text {
    margin: 0.5rem 0rem 0rem 0rem;
}

a {
    text-decoration: underline;
}