/* CSS DOCUMENT */
@charset "UTF-8";

/* Configuraciones Generales */

@font-face {
    font-family: "ChivoBlack";
    src: url("fonts/Chivo-VariableFont_wght.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "ChivoSemiItalic";
    src: url("fonts/Chivo-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaBoldItalic";
    src: url("fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "AlegreyaItalic";
    src: url("fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

* {
    font-family: "AlegreyaRegular", sans-serif;
    color: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Acá Empiezan Las Aplicaciones */

/* Estuve probando el uso de FlexBox en el header, cuando vean esta correcion voy a tener avanzado esto mismo en el contenido de la pagina, pero queria subir hasta donde habia llegado para tener el presente de la clase asincronica. */

header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

h1,
h2 {
    text-align: center;
    margin: 0px 0px 10px 0px;
}

h1 {
    font-family: "ChivoBlack", sans-serif;
    color: rgb(168, 3, 3);
    font-size: 3rem;
    line-height: 2.3rem;
}

h2 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(102, 71, 71);
    font-size: 1.5rem;
    line-height: 1.3rem;
}

h3 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(168, 3, 3);
    font-size: 1.2rem;
    line-height: 1rem;
    margin: 0rem 0rem 0.5rem 0.7rem;
}

h4 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(102, 71, 71);
    font-size: 1rem;
    line-height: 0.9rem;
    margin: 0rem 0rem 0.5rem 0.7rem;
}

.desc {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: left;
    text-wrap-style: balance;
}

ul {
    text-align: left;
    list-style-type: disc;
    line-height: 1.2rem;
    margin: 0rem 0rem 0.5rem 3rem;
}

p {
    text-align: left;
    line-height: 1.2rem;
    margin: 0rem 0rem 0.2rem 0.7rem;
}

.fechas {
    font-family: "AlegreyaItalic", sans-serif;
    text-align: left;
    line-height: 1.2rem;
    margin: 0rem 0rem 0.9rem 0.7rem;
}

a, footer {
    text-decoration: none;
    color: rgb(25, 25, 25);
    line-height: 1.3rem;
    text-align: center;
    margin: 0rem 0rem 0.5rem 0.7rem;

}

.header {
    margin: none;
    text-align: center;
    margin: 0rem 0rem 0rem 0rem;
}