/* CSS DOCUMENT */
@charset "UTF-8";

/* Configuraciones Generales */

@font-face {
    font-family: "ChivoBlack";
    src: url("fonts/Chivo-VariableFont_wght.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "ChivoSemiItalic";
    src: url("fonts/Chivo-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "AlegreyaRegular";
    src: url("fonts/Alegreya-VariableFont_wght.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "AlegreyaBoldItalic";
    src: url("fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "AlegreyaItalic";
    src: url("fonts/Alegreya-Italic-VariableFont_wght.ttf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

* {
    font-family: "AlegreyaRegular", sans-serif;
    color: rgb(25, 25, 25);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(244, 235, 223);
}

/* Acá Empiezan Las Aplicaciones */

header {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    background-color: rgb(168, 3, 3);
    border: 1vh solid rgb(168, 3, 3);
    justify-content: space-around;
}

.foto {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
    background-color: rgb(233 216 195);
    column-gap: 8vh;
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1vh;
    align-items: stretch;
}

#foto-perfil {
    margin: 1.2vh;
}

h1,
h2 {
    text-align: center;
    background-color: rgb(233 216 195);
}

h1 {
    font-family: "ChivoBlack", sans-serif;
    color: rgb(168, 3, 3);
    font-size: 3rem;
    line-height: 2.3rem;
}

h2 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(102, 71, 71);
    font-size: 1.5rem;
    line-height: 1.3rem;
}

h3 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(168, 3, 3);
    font-size: 1.2rem;
    line-height: 1rem;
    margin: 0vh 0.7vh 0.5vh 4.9vh;}

h4 {
    font-family: "ChivoSemiItalic", sans-serif;
    color: rgb(102, 71, 71);
    font-size: 1rem;
    line-height: 0.9rem;
    margin: 0vh 0vh 0.9vh 3.3vh;
}

ul {
    text-align: left;
    list-style-type: disc;
    line-height: 1.2rem;
    margin: 0vh 5vh 0.5vh 1.5vh;
}

p {
    text-align: left;
    line-height: 1.2rem;
    margin: 0vh 0vh 0.9vh 3.3vh;
}

.fechas {
    font-family: "AlegreyaItalic", sans-serif;
    text-align: left;
    line-height: 1.2rem;
    margin: 0vh 0vh 0.9vh 3.3vh;
}

.info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
        margin: 0vh 0vh 1vh 0vh;
    border: 0.5rem solid rgb(244, 235, 223);
    background-color: rgb(244, 235, 223);
}

.exp {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    align-content: center;
    background-color: rgb(244, 235, 223);
    margin: 0rem 0rem 1rem 0rem;
}

.desc {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 1vh 10vh 1vh 10vh;
    text-wrap-style: balance;
    background-color: rgb(244, 235, 223);
}

a,
footer,
.footer, 
.footer-text { 
    color: rgb(244, 235, 223);
    line-height: 1.3rem;
    text-align: center;
    margin: 1vh 0vh 0.1vh 0vh;
    background-color: rgb(168, 3, 3);
    border: 0.5vh solid rgb(168, 3, 3);
}

a {
    text-decoration: underline;
    margin: 0vh 0vh 1vh 0vh;
}